footer {
  text-align: center;
  background: linear-gradient(45deg, red, blue);
  line-height: 100px;
  color: whitesmoke;
  text-shadow: 1px 1px 4px #000;
  position: fixed;
  bottom: 0;
  width: 100vw;
}