.brand-modal,
.brand-title__text {
  text-shadow: 0 0 2px blue, 0 0 2px red;
  position: relative;
  display: inline-block;
}
.brand-modal:after,
.brand-modal:before,
.brand-title__text:after,
.brand-title__text:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid;
  box-shadow: 0 0 3px, 1px 1px 5px;
}
.brand-modal:before,
.brand-title__text:before {
  color: blue;
  right: 0;
  bottom: -15px;
  transform: skewX(30deg);
}
.brand-modal:after,
.brand-title__text:after {
  color: yellow;
  border-radius: 50%;
  left: -10px;
  top: -10px;
}

#about {
  background: #ccc;
  min-width: 50%;
  min-height: 50%;
}
dialog + .backdrop, /* polyfill */
dialog::backdrop {
  /* native */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.brand-modal {
  padding: 10%;
  text-align: center;
}
.brand-modal:after,
.brand-modal:before {
  animation: animate-shapes 4s ease-in infinite;
}
.brand-modal:after {
  animation-delay: 1.5s;
}
@keyframes animate-shapes {
  30% {
    transform: rotate3d(1, 1, 1, 360deg) translate3d(10px, 10px, 10px);
  }
  70% {
    transform: rotate3d(1, 1, 1, 180deg) translate3d(-10px, -10px, -10px)
      scale3d(1.5, 1.5, 1.5);
  }
}
