.modal-heading__text,
.brand-title__text {
  text-shadow: 0 0 2px blue, 0 0 2px red;
  position: relative;
  display: inline-block;
}

.modal-heading__text:after,
.modal-heading__text:before,
.brand-title__text:after,
.brand-title__text:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid;
  box-shadow: 0 0 3px, 1px 1px 5px;
}

.modal-heading__text:before,
.brand-title__text:before {
  color: blue;
  right: 0;
  bottom: -15px;
  transform: skewX(30deg);
}

.modal-heading__text:after,
.brand-title__text:after {
  color: yellow;
  border-radius: 50%;
  left: -10px;
  top: -10px;
}