header {
  margin-top: -1.4rem;
  height: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 4px #000;
  display: flow-root;
  /* fallback */
  overflow: auto;
}

.brand-title {
  float: left;
}

nav {
  margin-top: 2rem;
  float: right;
}

.open-modal-btn {
  cursor: pointer;
  font-size: 2rem;
  transition: 500ms;
  /* resetting button default style */
  background: transparent;
  border: none;
}

.open-modal-btn:hover {
  text-shadow: -1px -1px 1px #00f;
}

.modal-heading__text,
.brand-title__text {
  text-shadow: 0 0 2px #00f, 0 0 2px red;
  position: relative;
  display: inline-block;
}

.modal-heading__text:after,
.modal-heading__text:before,
.brand-title__text:after,
.brand-title__text:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid;
  box-shadow: 0 0 3px, 1px 1px 5px;
}

.modal-heading__text:before,
.brand-title__text:before {
  color: #00f;
  right: 0;
  bottom: -15px;
  transform: skewX(30deg);
}

.modal-heading__text:after,
.brand-title__text:after {
  color: #ff0;
  border-radius: 50%;
  left: 0px;
  top: 0px;
}