dialog+.backdrop,
/* polyfill */
dialog::backdrop {
    /* native */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

#about {
    background: #ccc;
    min-width: 50%;
    min-height: 50%;
}

.modal-heading {
    float: right;
    margin: 2rem;
}

.modal-heading__text {
    padding: 10%;
    text-align: center;
}

.modal-heading__text:after,
.modal-heading__text:before {
    animation: animate-shapes 4s ease-in infinite;
}

.modal-heading__text:after {
    animation-delay: 1.5s;
}

@keyframes animate-shapes {
    30% {
        transform: rotate3d(1, 1, 1, 360deg) translate3d(10px, 10px, 10px);
    }

    70% {
        transform: rotate3d(1, 1, 1, 180deg) translate3d(-10px, -10px, -10px) scale3d(1.5, 1.5, 1.5);
    }
}