* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

header {
  margin-top: -1.4rem;
  height: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 4px #000;
}

.konvajs-content {
  background: rgba(0, 0, 0, 0.9);
}
dialog + .backdrop, /* polyfill */
dialog::backdrop /* native */{
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
footer {
  text-align: center;
  background: linear-gradient(45deg, red, blue);
  line-height: 100px;
  color: whitesmoke;
  text-shadow: 1px 1px 4px #000;
}
