* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

#root {
  background-color: #ddd;
}

.shapes-btn {
  padding: 10px;
  border: 1px solid;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 500ms ease-in;
}

#about {
  background: #ccc;
  max-width: 50%;
  min-height: 50%;
  padding: 2rem;
}

.konvajs-content {
  background: rgba(0, 0, 0, 0.9);
}