* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

#root {
  background-color: #ddd;
}

#about {
  background: #ccc;
  min-width: 50%;
  min-height: 50%;
}

.konvajs-content {
  background: rgba(0, 0, 0, 0.9);
}
